.list {
  display: grid;
  margin: 0;
  --w: 280px;
  --n: 1;
  gap: var(--size-gutter);
  grid-template-columns: repeat(
    auto-fit,
    minmax(max(var(--w), 100%/ (var(--n) + 1) + 0.1%), 1fr)
  );
  margin-bottom: var(--size-gap);
  margin-top: var(--size-gap);
  list-style: none;
}

.listItem {
  margin: 0;
}

.listItemLink {
  color: var(--color-primary);
  font-weight: bold;
  text-decoration: none;
  background-color: transparent;
}

.flex {
  display: flex;
  align-items: center;
}

.listItemDescription {
  color: var(--color-text);
  margin-bottom: 0;
  margin-top: var(--space-1);
}

.textCenter {
  text-align: center;
}

.intro {
  margin-bottom: var(--size-gap);
  margin-top: 20vh; 
}

.textGray {
  color: var(--color-gray);
}

.arrowDesktop {
  display: inline-block;
}

.arrowMobile {
  display: none;
}

@media (max-width: 768px) {
  .intro {
    margin-bottom: 0;
    margin-top: 0;
  }
  .list {
    gap: 0;
    margin-bottom: var(--space-7);
    margin-top: var(--space-6);
  }
  h1 {
    font-size: 28px;
  }
  .arrowMobile {
    display: inline-block;
  }
  .arrowDesktop {
    display: none;
  }
}
